<div
  class='row mb-10'
  id='clientes'
>
  <h1 class='text-2xl font-semibold mb-8'>Confian en nuestros servicios</h1>

  <div class='marquee overflow-hidden'>
    <div class='marquee-content opacity-70'>
      <div class='marquee-item'>
        <img src='./assets/images/logos/CATENA_ZAPATA_Logo.jpg' />
      </div>

      <div class='marquee-item'>
        <img src='./assets/images/logos/Coca-Cola_Femsa_Logo.jpg' />
      </div>

      <div class='marquee-item'>
        <img src='./assets/images/logos/ESCORIHUELA-LOGO-300x125.jpg' />
      </div>

      <div class='marquee-item'>
        <img src='./assets/images/logos/esmeralda.jpg' />
      </div>

      <div class='marquee-item'>
        <img src='./assets/images/logos/findelmundo.jpg' />
      </div>

      <div class='marquee-item'>
        <img src='./assets/images/logos/Isologotipo_de_Paladini.jpg' />
      </div>

      <div class='marquee-item'>
        <img src='./assets/images/logos/la-riojana2.jpg' />
      </div>

      <div class='marquee-item'>
        <img src='./assets/images/logos/logo_dulkre.jpg' />
      </div>

      <div class='marquee-item'>
        <img src='./assets/images/logos/Sanofi_logo.jpg' />
      </div>

      <div class='marquee-item'>
        <img src='./assets/images/logos/sumitomo.jpg' />
      </div>

      <div class='marquee-item'>
        <img src='./assets/images/logos/valle-de-la-puerta.jpg' />
      </div>

      <div class='marquee-item'>
        <img src='./assets/images/logos/CATENA_ZAPATA_Logo.jpg' />
      </div>

      <div class='marquee-item'>
        <img src='./assets/images/logos/Coca-Cola_Femsa_Logo.jpg' />
      </div>

      <div class='marquee-item'>
        <img src='./assets/images/logos/ESCORIHUELA-LOGO-300x125.jpg' />
      </div>

      <div class='marquee-item'>
        <img src='./assets/images/logos/esmeralda.jpg' />
      </div>

      <div class='marquee-item'>
        <img src='./assets/images/logos/findelmundo.jpg' />
      </div>
    </div>
  </div>
</div>

<style>
  .marquee-content {
    display: flex;
    animation: scrolling 50s linear infinite;
  }

  .marquee-item {
    flex: 0 0 150px;
    margin: 0 1vw;
  }

  .marquee-item img {
    display: block;
    width: 100%;
    padding: 0 20px;
  }

  @keyframes scrolling {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translatex(-2000px);
    }
  }
</style>
