.container {
  max-width: 1100px;
}

#hero-nosotros {
  background-image: url('../assets/images/bg-nosotros.webp');
}
#hero-autoadhesivas {
  background-image: url('../assets/images/bg-hero-autoadhesivas.jpg');
}
#hero-multipagina {
  background-image: url('../assets/images/bg-hero-multipaginas.jpg');
}
.hero-gradient-primary {
  background: rgb(0, 130, 147);
  background: linear-gradient(90deg, rgba(0, 130, 147, 0.8015406846332283) 0%, rgba(0, 130, 147, 0) 100%);
}
.hero-gradient-secondary {
  background: rgb(206, 14, 45);
  background: linear-gradient(90deg, rgba(206, 14, 45, 0.798739564185049) 0%, rgba(206, 14, 45, 0) 100%);
}
.hero-container {
  min-height: 560px;
  padding-bottom: 215px;
  @media (max-width: 980px) {
    padding-bottom: 30vw;
  }
}
.img-hero {
  width: 450px;
  height: 450px;
  margin-top: -225px;
  @media (max-width: 980px) {
    width: 60vw;
    height: 60vw;
    margin-top: -30vw;
  }
}
.img-txt {
  width: 450px;
  height: auto;
  float: right;
}
#nosotros-txt {
  background-repeat: no-repeat;
  background-position: top right;
  background-image: url('../assets/images/bg-1.png');
}
.vino {
  height: 300px;
}
